{% extends "base.html" %}

{% block content %}
<section class="container mt-4">

    <h1>Simulation Detail</h1>
    <div class="mt-3 mb-4">
        <ul>
            <li><strong>Simulation: </strong>{{ simulation }}</li>
            <li><strong>Create: </strong>{{ simulation.created }}</li>
            <li><strong>Status: </strong>{{ simulation.status }}</li>
            <li><strong>Total arrivals: </strong>{{ simulation.get_results.all.0.cant_people }}</li>
            <li><strong>Wait time: </strong>{{ simulation.get_results.all.0.avg_wt }}</li>
            <li><strong>Time in system: </strong>{{ simulation.get_results.all.0.avg_tis }}</li>
        </ul>
        <div>
        {% if simulation.get_results.all.0.graph %}
          <img src="{{ simulation.get_results.all.0.graph.url }}" alt="graph" height="400">
        {% endif %}
        </div>
    </div>
    <hr>
    <div class="mt-5">
        <h3>Data</h3>
         <ul>
            <li><strong>Minimum quantity of products: </strong>{{ simulation.n_prod_min }}</li>
            <li><strong>Maximum quantity of products: </strong>{{ simulation.n_prod_max }}</li>
            <li><strong>Process time per product: </strong>{{ simulation.proc_time }}</li>
            <li><strong>Amount of time the simulation runs (Minutes): </strong>{{ simulation.sim_time }} mins.</li>
        </ul>
    </div>
    <div class="mt-5">
      <h3>Cashiers data:</h3>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Start hour</th>
              <th scope="col">End hour</th>
              <th scope="col">Number of equal cashier</th>
            </tr>
          </thead>
          <tbody>
            {% for cashier in cashiers %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ cashier.start_hour }}</td>
              <td>{{ cashier.end_hour }}</td>
              <td>{{ cashier.n }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    
    <div class="mt-5">
        <h3>Arraivals data:</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Arrival hour</th>
              <th scope="col">Average number of people</th>
            </tr>
          </thead>
          <tbody>
            {% for arraival in arraivals_data %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ arraival.hour }}</td>
              <td>{{ arraival.arrivals }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</section>
{% endblock content %}