{% extends "base.html" %}

{% block content %}
<section class="container mt-4">

    <h1>Simulations list</h1>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Simulation</th>
      <th scope="col">Run date</th>
      <th scope="col">Status</th>
      <th scope="col">Total arrivals</th>
      <th scope="col">Wait time</th>
      <th scope="col">Time in system</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for simulation in simulations %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ simulation }}</td>
      <td>{{ simulation.created }}</td>
      <td>{{ simulation.status }}</td>
      <td>{{ simulation.get_results.all.0.cant_people }}</td>
      <td>{{ simulation.get_results.all.0.avg_wt }}</td>
      <td>{{ simulation.get_results.all.0.avg_tis }}</td>
      <td><a class="btn btn-warning" href="{{ simulation.get_absolute_url }}">See detail</a></td>
    </tr>
        
    {% empty %}
  
    <div class="text-center">
        <div class="alert alert-primary" role="alert">
            No simulations loaded
        </div>
    </div>
    {% endfor %}
  </tbody>
</table>

</section>
{% endblock content %}