{% extends "base.html" %}
{% load static %}

{% block css %}
    <script src="https://unpkg.com/vue@next"></script>
{% endblock css %}

{% block content %}
<section class="container mt-4">

    <h1>New simulation</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form2.management_form }}

        <div class="row">
            {%for f in form %}
                <div class="col-lg-4 mb-3 mt-2">
                    <label for="">{{ f.label}}</label>
                    <div>
                        {{f}}
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
        <div id="app">
            <div class="row">
                <h4>Cashiers</h4>

                <template v-for="(item, index) in cashier" :key="index">
                    <box-cashier 
                    :start_hour=item["start_hour"]
                    :end_hour=item["end_hour"]
                    :n=item["n"]
                    :id=index
                    ></box-cashier>
                </template>
                
                <input type="hidden" name="cant_cashier" :value="cant_cashier">
                <div class="">
                    <button class="btn btn-primary  mt-3 mb-4" @click="addCashier" type="button">
                        Add Cashier
                    </button>
                    <button class="btn btn-danger ms-3 mt-3 mb-4" @click="removeCashier" type="button">
                        Remove last Cashier
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Arrivals data</h4>

                <template v-for="(item, index) in arrivalData" :key="index">
                    <box-arrivals-data 
                    :hour=item["hour"]
                    :arrivals=item["arrivals"]
                    :id=index
                    ></box-arrivals-data>
                </template>

                <input type="hidden" name="cant_arrivals" :value="cant_arrivals">
                <div class="">
                    <button class="btn btn-primary  mt-3 mb-4" @click="addArrivalData" type="button">
                        Add arrival data
                    </button>
                    <button class="btn btn-danger ms-3 mt-3 mb-4" @click="removeArrivalData" type="button">
                        Remove last arrival data
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button class="btn btn-primary mt-4 mb-4" type="submit">Save and Simulate</button>
        </div>
    </form>

</section>
{% endblock content %}

{% block javascripts %}

<script src="{% static 'js/main-new-simulation.js' %}"></script>
<script src="{% static 'js/componentVue/box-arrivals-data.js' %}"></script>
<script src="{% static 'js/componentVue/box-cashier.js' %}"></script>
<script>
    app.mount('#app')
</script>
{% endblock javascripts %}